body {
    font-family: 'Spectral', serif;
    background-color: #fff8e1;
    color: #5d4037;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
}
.logo {
    width: 70px; 
    height: auto; 
    vertical-align: middle; 
    margin: 0 10px; 
    border: none;
    box-shadow: none; 
}
h1 {
    font-family: 'Playfair Display', serif;
    background-color: #ffe0b2;
    color: #bf360c;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #ff8a80;
}

h3 {
    font-family: 'Playfair Display', serif;
    color: #80cbc4;
}

p {
    color: #4e342e;
}

ul {
    color: #8d6e63;
}

li {
    color: #6d4c41;
}

a {
    color: #4dd0e1;
    text-decoration: none;
}

a:hover {
    color: #00796b;
    text-decoration: underline;
}

figure {
    text-align: center; 
}

img {
    width: 300px; 
    height: 200px;
    object-fit: cover; 
    border: 5px solid #ffab91; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
footer {
    background-color: #ffe0b2; 
    color: #5d4037; 
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.social-media, .contact-info {
    flex: 1; 
}

.social-logo {
    width: 30px; 
    height: auto; 
    margin: 0 10px; 
}

h3 {
    margin-bottom: 10px; 
}
.Teléfono, .contact-info{
    width: 30px; 
    height: auto; 
    margin: 0 10px; 
}
